body {
	background: linear-gradient(to right, #536976, #292e49);
	color: azure;
	max-height: 100vh;
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 15px;
	background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
	background-color: #4e1515;
}

#title {
	height: 6vh;
	width: calc(100vw - 8px);
	margin: auto;
	text-align: center;
}

#container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	height: calc(94vh - 8px - 2em);
	width: calc(100vw - 2vh - 8px);
}

#log-panel {
	height: calc(40vh - 8px - 2em);
	width: 30vw;
}

#log {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}

#textarea {
	background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
	border: 1px solid lightgray;
	border-radius: 5px;
	padding-top: 2%;
	height: 80%;
	width: 100%;
	overflow-y: auto;
}

#left-container {
	height: 100%;
}

#right-container {
	height: calc(93vh - 10px - 2em);
	width: calc(65vw - 8px);
}
