body {
	background: linear-gradient(to right, #536976, #292e49);
	color: azure;
}

#title {
	height: 6vh;
	width: calc(100vw - 8px);
	margin: auto;
	text-align: center;
}

#container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	height: calc(90vh - 8px);
	width: calc(100vw - 2vh - 8px);
}

#log-panel {
	height: calc(40vh - 8px - 2em);
	width: 30vw;
}

#log-panel textarea {
	background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
	border-radius: 5px;
	resize: none;
	height: 100%;
	width: 100%;
}

#right {
	height: calc(93vh - 8px - 2em);
	width: calc(65vw - 8px);
}
